# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Electron builder output
release/

# Expo
mobile/.expo/
mobile/android/

# iOS
mobile/ios/build/
mobile/ios/Pods/
mobile/ios/DerivedData/
mobile/ios/*.xcuserstate
mobile/ios/xcuserdata/

# TypeScript
*.tsbuildinfo
